@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Source Sans 3', sans-serif;
  padding-top: 100px;
}

h1{
  color: #FFFFFF;
  margin-bottom: 10px;
  font-size: 32px;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #2e2d4e;
  max-width: 50%;
  width: 400px;
}

input{
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  font-size: 16px;
  background-color: #363653;
  color: #FFFFFF;
}

button{
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #5756a3;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
}

button:hover{
  background-color: #474787;
} 

p{
  color: #FFFFFF;
  margin-top: 20px;
  text-align: center;
}