.forgot-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  font-family: 'Source Sans 3', sans-serif;
  color: #fff;
}

.forgot-password input {
  height: 40px;
  width: 300px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  padding: 0 10px;
  background-color: #363653;
  color: #fff;
}

.forgot-password button {
  margin-top: 20px;
  padding: 10px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #5756a3;
  color: #fff;
  cursor: pointer;
}

.forgot-password button:hover {
  background-color: #474787;
}
